<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap">

        
        {% block head %}{% endblock %}
    </head>
    <body>
        <!--Header-->
        <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
        <nav id="header" class="fixed-top navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">Book<span>Reviews</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="log_in.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="reviews.html">Reviews</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Hero-->
        {% block hero %}{% endblock %}

        {% block body %}{% endblock %}

        <!-- Footer -->
        <!--<link href="footer.html" rel="import" />-->
        <!-- <div id="footer-container"></div> -->
        <footer class="dark-background py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="footer-logo">Book<span>Reviews</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue nisi sed quam convallis, lobortis ullamcorper lacus volutpat. Etiam dignissim neque commodo, euismod tortor vitae, fermentum purus. Nam ornare dolor sit amet tincidunt sodales.</p>
                        <div class="footer-social-links p-2">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <form class="col-md-4 offset-md-2">
                        <input type="text" placeholder="Your Email">
                        <input type="text" placeholder="Other Info">
                        <textarea placeholder="Your message"></textarea>
                        <a class="btn btn-main" href="">
                            <i class="mr-2 fa fa-envelope" aria-hidden="true"></i> Send!
                        </a>
                    </form>
                </div>
            </div>
            <!-- Place attricution stuff here -->
            <div class="attribution text-center p-3">
                <p>Made by Me &copy; 2020. All rights reserved.</p>
            </div>
        </footer>

        <!-- Navbar On/Off -->
        <script src="js/scrolling.js"></script>

        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>