{% extends 'base.html.jinja' %}

{% block head %}
    <!-- Websocket -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!-- Message handlebars JS template -->
    <script id="message-template" type="text/x-handlebars-template">
        <article class="post" id="{{id}}">
            <p class="body">{{body}}</p>
            <footer>
                <div class="about">by {{username}} on {{created}}</div>
                {{#if deletable}}Delete{{/if}}
            </footer>
        </article>
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock head %}

{% block header %}
    <div>
    <h1>{% block title %}Topic: {{ topic }}{% endblock title %}</h1>
    {% if g.user %}
        <div>
            <!--<input type="hidden" name="book-submit-review-user-id" id="book-submit-review-user-id" value="// g.user['user_id'] //">-->
            <!--<input type="hidden" name="book-submit-review-book-isbn" id="book-submit-review-book-isbn" value="// topic //" required>-->
            <textarea placeholder="Type a message" name="message-textarea" id="message-textarea"></textarea>
            <button id="message-submit" data-from="{{ g.user['user_id'] }}"><i class="fa fa-envelope"></i></button>
        </div>
        <!--<a class="action" href="// url_for('room.post', topic=topic) //">New</a>-->
    {% endif %}
    </div>
{% endblock header %}

{% block content %}
    <div id="messages-container"></div>
{% endblock content %}