aux/*
*/.sass-cache/*
*.map
*/__pycache__/*
*/__pycache__/
__pycache__/
*/flask_session/
flask_session/
.vscode/
lecture3/src3/.pylintrc
.goodreads
.database_url
**.pyc
.skey
**/env/
**/venv/
submit/
2020/projects/
