{% extends "public/layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
<style type="text/css">
    .search-container {
        /* Image used */
        background-image: url("{{ url_for('static', filename='img/cuby.png') }}");

        /* Control height of the image */
        box-sizing: border-box;
        min-height: 760px; /*380px;*/

        /* Center and scale image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        font-size: small;
    }
</style>
<title>Search Books</title>
{% endblock %}
{% block body %}
<div class="search-container">
    <div class="container">
        <div class="py-5">
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form class="search-form" method="POST">
                    <!--<h2>Search Books</h2>-->
                    <div class="row p-0 m-0">
                        <label class="col-md-2" for="isbn"><b>Isbn</b></label>
                        <input class="col-md-9" type="text" placeholder="Isbn" name="isbn" id="isbn">
                    </div>
                    
                    <div class="row p-0 m-0">
                        <label class="col-md-2" for="title"><b>Title</b></label>
                        <input class="col-md-9" type="text" placeholder="Title" name="title" id="title">
                    </div>
                    <div class="row p-0 m-0">
                        <label class="col-md-2" for="author"><b>Author</b></label>
                        <input class="col-md-9" type="text" placeholder="Author" name="author" id="author">
                    </div>

                    <div class="row p-0 m-0">
                        <button class="btn col-md-10 offset-md-1" type="submit">Search Books</button>
                    </div>
                    <div class="row p-0 m-0">
                        {% for message in get_flashed_messages() %}
                            {% if message %}
                            <div class="flash col-md-9 offset-md-2">{{ message }}</div>
                            {% endif %}
                        {% endfor %} 
                    </div>
                    
                </form>
            </div>
        </div>
        {% if book_results %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="search-results">
                    <div class="row table-title">
                        <h2>Search Results:</h2>
                    </div>
                    <div class="row table-container">
                        <table>
                            <tr>
                                <th class='th-isbn'>ISBN</th>
                                <th class='th-title'>Title</th>
                                <th class='th-author'>Author</th>
                                <th class='th-checkout'>Reviews</th>
                            </tr>
                            {% for book in book_results %}
                            <tr>
                                <td class='td-isbn'>{{ book['isbn'] }}</td>
                                <td class='td-title'>{{ book['title'] }}</td>
                                <td class='td-author'>{{ book['author'] }}</td>
                                <td class='td-checkout'>
                                    <a class="btn btn-checkout" href="{{ url_for('main.book', isbn=book['isbn']) }}">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}