{% extends "public/layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
<style>
    .signup-container {
        background-image: url("{{ url_for('static', filename='img/cuby.png') }}");
    }
</style>
<title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block hero %}
<!--<img class="img-fluid" alt="" src="img/cuby2.png">-->
{% endblock %}

{% block body %}
<div class="signup-container">
    <div class="container">
        <div class="py-5">
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% block form %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}