@import "main.css";

@media (min-width: 1200px) {
    body {
        background-color: #008888;
    }
}
@media (max-width: 1200px) {
    body {
        background-color: #71f0cc;
    }
}
@media (max-width: 992px) {
    body {
        background-color: #5588DD;
    }
}
@media (max-width: 768px) {
    body {
        background-color: #CC88DD;
    }
}
@media (max-width: 576px) {
    body {
        background-color: #FF5555;
    }
}

#table-container {
    justify-content: center;
}
#table-container table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 90%;
}
#table-container th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
#table-container th {
    background-color: #71f0cc;
    color: black;
}
#table-title {
    color: #71f0cc;
    display: flex;
    justify-content: center;
}

/*#hello > h1 {
    @extend .row;
    @extend .align-items-center;
    @extend .justify-content-center;
}*/
/*class="row align-items-center justify-content-center";*/
/* class="row align-items-center justify-content-center" */