/*Colors
Black background:   222
Primary Color:      3ab5fe
White:              fafaff
*/

@media (min-width: 1200px) {
    body {
        background-color: #008888;
    }
}
@media (max-width: 1200px) {
    body {
        background-color: #008855;
    }
}
@media (max-width: 992px) {
    body {
        background-color: #5588DD;
    }
}
@media (max-width: 768px) {
    body {
        background-color: #CC88DD;
    }
}
@media (max-width: 576px) {
    body {
        background-color: #FF5555;
    }
}

/*#hello > h1 {
    @extend .row;
    @extend .align-items-center;
    @extend .justify-content-center;
}*/
/*class="row align-items-center justify-content-center";*/
/* class="row align-items-center justify-content-center" */